
{{!-- {{#partial "content"}} --}}

{{!--     <div class="container animals-container"> --}}

{{!--         <div class="animals-left"> --}}
{{!--             <div class="animals-table"> --}}
{{!--                 <div class="card"> --}}
{{!--                     <table class="table"> --}}
{{!--                         <thead class="thead-dark"> --}}
{{!--                         <tr> --}}
{{!--                             <th scope="col">ID</th> --}}
{{!--                             <th scope="col">Ranger</th> --}}
{{!--                             <th scope="col">Location</th> --}}
{{!--                             <th scope="col">Animal Id</th> --}}
{{!--                         </tr> --}}
{{!--                         </thead> --}}
{{!--                         <tbody> --}}
{{!--                         {{#each sighting}} --}}
{{!--                             <tr> --}}
{{!--                                 <th scope="row">{{id}}</th> --}}
{{!--                                 <td>{{rangerName}}</td> --}}
{{!--                                 <td>{{location}}/td> --}}
{{!--                                 <td>{{animal}}</td> --}}
{{!--                             </tr> --}}
{{!--                         {{/each}} --}}
{{!--                         </tbody> --}}
{{!--                     </table> --}}
{{!--                 </div> --}}
{{!--             </div> --}}
{{!--         </div> --}}

{{!--     </div> --}}
{{!-- {{/partial}} --}}
{{!-- {{> layout.hbs}} --}}
