{{#partial "content"}}


    <div class="jumbotron">
      <h1 class="display-3">Wildlife Tracker</h1>
      <p class="lead">This is a Wildlife tracker application that allows wildlife reservation companies
                      to keep track of animals by the help of rangers. </p>
      <hr class="my-4">
      <p>It includes rangers registration, sightings of animals and locations.</p>

    </div>
    <style>
    body{
     background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkBeTeD98-MavQaa1fXMStWjWY2Oav82Q2Ji3T2MAl40Sl6BPW");
//            background-position: center;
      background-size: cover;
     background-repeat: no-repeat;

     }

    </style>
{{/partial}}
{{> layout.hbs}}